.DropDownSection3-div{
    border-radius: 7px;
    background-color: rgba(119, 136, 153, 0.158);
    width: 100%;
    min-height: 90%;
    height: auto;
    padding: 10px;
}
.DropDownSection3-div img{
    margin-left: 1em;
    height: 60%;
    width: 100%;
    border-radius: 5px;
    transition: 0.5s ease;
}
.DropDownSection3-div .row{
    margin-top: 2em;
}
.DropDownSection3-div img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.DropDownSection3-div .drop-down-sec3-text-col{
    font-size:17px;
}
.DropDownSection3-div .drop-down-sec3-text-col:hover{
    text-decoration: underline;
    cursor: pointer;
}