.pay-card{
    width: 500px;
    height: 260px;
    margin: auto;
    margin-left: 4em;
    box-shadow: 10px 10px 6px rgb(92, 90, 90);
    padding: 15px;
    background-image: url("../../../../public/images/CreditCard.jpg");
    background-repeat: repeat-x;
    background-size: cover;
}
.btn-row{
    display: flex;
    justify-content:end;
}
.pay-card Button{
    margin-top: 1em;
    margin-right: 1em;
    width: 30%;
    background-color: #025464;
    border-color: #025464;
}
.pay-card Button:hover{
    background-color: #025464f2;
}
.pay-card input[type="text"]{
    background-color: transparent;
    border-radius: 5px;
    border-color: darkgrey;
}
.pay-card select{
    background-color: transparent;
    border-radius: 5px;
}
.pay-card label{
    color: #025464;
    font-size: larger;
    font-weight: 500;
}