.offCanvas-div{
    width: 97%;
    min-height: 47vh;
    background-color: rgba(153, 169, 184, 0.408);
    padding: 10px;
    border-radius: 6px;
    font-size: larger;
    color: #025464;
}
.offCanvas-link1{
    margin-left: 2.4em;
    color: #0c697c;
    
}
.offCanvas-sublink0{
    text-decoration: none;
    color :#025464;
    
}
.offCanvas-sublink1{
    margin-left: 3em;
    text-decoration: none;
    color :#025464;
}
.offCanvas-link1 p:hover{
    background-color: rgba(153, 169, 184, 0.300);
}
.offCanvas-p1:hover{
    text-decoration: none;
    color :#025464;
}
.offCanvas-p:hover{
    cursor: pointer;
    background-color: rgba(136, 151, 167, 0.508);
    height: 40px;
    width: 90%;
    margin-left: 1em;
    border-radius: 4px;
    animation: none;
    transform: none;
    transition: none;
}
.log-sign-offCanvas-div{
    margin-top: 4em;
    justify-content: center;
}
.log-sign-row-offCanvas .log-sign-btn-offCanvas{
    width: 170px;
    height: 45px;
    background-color: #025464;
    border-color: #025464;
    color: #fff;
}
.log-sign-row-offCanvas .log-sign-btn-offCanvas:hover{
    background-color: #025464dd;
    border-color: #025464;
    border-width: 2px;
    color: #fff;
}