.side-icons li{
    width: 80px;
}
.side-icons-first-li{
    margin-top: 2.2em;
}
.side-icons{
    width:max-content;
    height: 730px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    top: 80px;
    padding: 0.5em;
    padding-right: 1.5em;
    background-color: aliceblue;
    list-style-type: none; 
    padding: 0;
}
.side-icons i{
    margin: auto;
    margin-left: 1.7em;
    margin-top: 1em;
    color: rgb(159, 159, 159);
}
.custom-icon{
    height: 50px;
    width: 100%;
    margin: auto;
    margin-top: 1em;
}
.custom-icon:hover{
    cursor: pointer;
    background-color: rgb(218, 218, 218);
}
