.my-card:hover{
    background-color: rgb(249, 241, 228);
    transform: scale(1.05);
    box-shadow: inset;
}
.my-card{
    width: 20%;
    height: 400px;
    margin-left: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    transition: transform 500ms ease;
    cursor:pointer;
}
.h5{
    color: #113946;
    font-family:sans-serif;
    font-weight: 700;
}
.my-card p{
    height: 100px;
    color: #c69657;
    font-family:sans-serif;
    font-weight: 500;
    margin-bottom: 2em;
}
.my-card .btn{
    border-radius: 20px;
}
.my-card  img{
    height: 200px;
    margin-left: 0;
  }