
img{
    height: 700px;
    width: 100%;
}
.carousel-item .carousel-caption{
    height: 100%;

}
.carousel-control-prev{
    margin: auto;
    height: 20%;
}
.carousel-control-next{
    margin: auto;
    height: 20%;
}